.NFTcard {
  background-color: rebeccapurple;
  margin: 5px;
  height: 180px;
  width: 120px;
  border-radius: 50px;
}
.NFTcard img {
  cursor: pointer;
  height: 180px;
  width: 120px;
  object-fit: cover;
  border-radius: 50px;
  transition: 0.5s;
}
.NFTcard img:hover {
  scale: 1.5;
}
.rowMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0px;
}
.rowMain h1 {
  font-size: 60px;
}
.roww {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.button {
  background-image: linear-gradient(
    to right,
    #7ec40f 0%,
    #34a343 51%,
    #9fee0e 100%
  );
  cursor: pointer;
  margin: 0px 10px 10px 0px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.button:hover {
  background-position: right center;
  color: #fff;
}

.Linearcircle {
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, 0%);
  width: 300px;
  height: 300px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(50px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 0, 255, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.4;
}
.LinearcircleTwo {
  height: 200px;
  position: absolute;
  top: -50%;
  left: 10%;
  transform: translate(-50%, 0%);
  width: 300px;
  height: 300px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(50px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(140, 177, 9),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.4;
}
.glassDiv {
  position: relative;
  top: 0px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 60px;
  display: flex;
  justify-content: flex-end;
}
.glassDivDesc {
  text-align: start;
}
.glassDivWrapper {
  position: relative;
  margin-bottom: 80px;
}
.GlassImgDiv {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
  bottom: 30px;
}
.GlassImgDiv img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.logo {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  text-transform: uppercase;
}
.spinner-lg {
  width: 100px;
  height: 100px;
  margin-top: 15%;
}

.marginAuto {
  margin: 0px auto;
}
.logo span {
  color: #34a343;
  letter-spacing: 2px;
  transition: 150ms color ease-in;
}
.logo span:hover {
  color: #6cf17e;
}
.artnftcard {
  padding: 10px 0px;
  width: 300px;
  border: none;
  border-radius: 15px;
  background-color: black;
}
.artnftcardtwo{
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  background-color: black;

}
.artnftcardtwo p{
  margin-bottom: 5px;
}
.artnftcardimg {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 15px;
}
