.description {
  text-align: center;
  
}

.DisplayImg {
  background-image: url("../../../img/Limon.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 2px;
  cursor: pointer;
}
.ImgCardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgCard {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.firstColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.secondColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.thirdColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.DescDiv {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
}
.Desc {
  display: flex;
  justify-content: flex-start;
}
.Desc h2 {
  margin: 0px;
}
.Desc p {
  margin: 0px;
}
.DescImgDiv {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DescImg {
  width: 40px;
  object-fit: cover;
}
.gridNFTCard {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 0px;
}
.NFTCard {
  position: relative;
  background-color: rgb(26, 25, 25);
  width: 300px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.NFTCardImg {
  position: absolute;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.SmallNFTCard {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  padding: 15px;
  width: 78%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
/* Desc */